@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,600;1,700&family=Ruthie&family=Yesteryear&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins";
  color: white;
}

a {
  cursor: pointer;
}

body {
  background-color: #1d1d1d;
  position: relative;
}

main {
  padding: 20px;
}

/* navigation */
nav {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

nav .active {
  color: #bb9356;
}

nav a {
  color: white;
  font: 500 18px "Poppins";
  text-decoration: none;
}

nav a:hover {
  color: #bb9356;
  transition: all 400ms;
}

#nav-brand {
  font: 400 36px "Yesteryear";
}

.nav-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.menus img {
  max-width: 20px;
  height: 20px;
}

.menus img:hover {
  opacity: 0.7;
  transition: all 400ms;
}

/* sidebar */
.sidebar {
  display: none;
  width: 15vw;
  background-color: rgb(14, 13, 13, 0.7);
  position: absolute;
  top: 0px;
  right: 30px;
  line-height: 50px;
  border-radius: 8px;
  transform: translateY(0px);
  z-index: 3;
}

.sidebar.show {
  display: block;
  top: 80px;
  animation: openNav ease-out 0.4s;
}

@keyframes openNav{
  0% {
    opacity: 0;
    top: 110px;
  }
  100% {
    opacity: 1;
    top: 80px;
  }
}

.sidebar-top {
  display: none;
}

hr {
  border: 2px solid white;
}

/* navigation end */
/* one */
#one {
  position: relative;
}

#one-img {
  opacity: 0.4;
  mix-blend-mode: lighten;
}

#one-content {
  position: absolute;
  top: 35%;
  left: 0%;
}

.h4-primary {
  color: #bb9356;
  font: 48px "Ruthie";
  line-height: 20px;
}

.h3-white {
  color: white;
  font: 56px "Abril Fatface";
}

.p1-white {
  color: white;
  font: 18px "Poppins";
}

/* two */
#two-content {
  padding: 100px;
}

.h5-primary {
  color: #bb9356;
  font: 28px "Ruthie";
  line-height: 20px;
}

.h4-white {
  color: white;
  font: 36px "Abril Fatface";
}

.p2-white {
  color: white;
  font: 16px "Poppins";
  width: 80%;
}

/* three */
#three-content {
  position: relative;
}

#three-content>img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.home-menu {
  display: grid;
  gap: 0;
  place-content: center;
  grid-template-columns: auto auto;
  width: 80%;
}

.home-card-img {
  width: 50%;
  object-fit: cover;
  opacity: 0.8;
}

.home-card-content {
  width: 50%;
  background-color: hsl(0, 0%, 13%);
  font-size: 12px;
}

.home-card-content>div {
  border: 1px dotted #cdaf80;
  line-height: 26px;
}

.price {
  color: #bb9356;
  font-size: 14px;
}

.h5-homeCard {
  font-weight: 600;
  font-size: 16px;
}

.button {
  border: none;
  border-radius: 50px;
  color: white;
  background-color: #bb9356;
  font-family: "Poppins";
  padding: 5px 30px;
  transition: all 400ms;
}

button.hover:hover {
  transform: translateY(-8px);
  opacity: 0.8;
}

.nav-button {
  border: none;
  background-color: transparent;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  #nav-brand {
    font-size: 24px;
  }

  .nav-muted {
    display: none;
  }

  .sidebar.show {
    width: 100vw;
  }

  .sidebar-top {
    display: block;
  }

  .home-card {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  #nav-brand {
    font-size: 16px;
  }

  .menus img {
    height: 10px;
  }
}